#target {
    background-color: blueviolet;
    margin: 2rem 0;
    width: 20vw;
    height: 20vw;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: white;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-color: gray;
}

#logo {
    color: cornflowerblue;
    font-size: xx-large;
    font-weight: 500;
}

#nav-items {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 0 1rem
}

#nav-items > * {
  font-size: large;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  width: 4rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-items > *:hover {
    background-color: darkblue;
    color: antiquewhite;
}

#gallery {
    margin: 1rem 8px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px 48px
}

.gallery-item {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.gallery-item > img {
    width: 20vw;
    height: 160px;
    object-fit: cover;
}

.gallery-item-separator {
    width: 100%;
    height: 0;
    border: 1px;
    border-style: solid;
    border-color: tomato;
}

.gallery-item-desc {
    display: flex;
    color: gray;
    font-size: medium;
    justify-content: space-between;
    align-items: center;
}