#target {
    background-color: blueviolet;
    margin: 2rem 0;
    width: 20vw;
    height: 20vw;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: white;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-color: gray;
}

#logo {
    color: cornflowerblue;
    font-size: xx-large;
    font-weight: 500;
}

#nav-items {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 0 1rem
}

#nav-items > * {
  font-size: large;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  width: 4rem;
  height: 2rem;
}

#nav-items > *:hover {
    background-color: darkblue;
    color: antiquewhite;
}